<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <!-- 
	 Mapper > 구문을 만들 수 있는 영역 
	 - 일반적으로 테이블 당 1개 씩 mapper 를 둔다
	 
	 -namespace : 영역을 외부에서 부르기 위한 별칭
 -->
<mapper namespace="student">
	<insert id="regist" parameterType="student"><!-- parameterType="com.d0.mybatis.entity.StudentDTO" -->
		INSERT INTO STUDENT VALUES(#{name},#{age},#{score},SYSDATE)
	</insert>
</mapper>