<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
 	<typeAliases>
 		<typeAlias type="com.d0.spring.entity.GallaryDTO" alias="gallary"/>
 		<typeAlias type="com.d0.spring.vo.GallaryVO" alias="vo"/>
 	</typeAliases>
 </configuration>