<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test">
	<insert id="a" parameterType="category">
		INSERT INTO CATEGORY VALUES(#{c_no}, #{c_name})
	</insert>
	
	<insert id="b" parameterType="items">
		INSERT INTO ITEMS VALUES(#{i_no}, #{i_name}, #{c_no})
	</insert>
</mapper>
