<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cert">
	<!-- 등록 -->
	<insert id="regist" parameterType="cert">
		INSERT INTO CERT VALUES(#{who}, #{secret}, SYSDATE)
	</insert>
	
	<!-- 조회 -->
	<select id="get" resultType="cert" parameterType="cert">
		SELECT * FROM CERT WHERE SECRET = #{secret}
	</select>
	
	<!-- 검사 -->
	<!-- 
		XML 에서는 사용하지 못하는 기호 존재 >< 
		<![CDATA[
		
		]]>	
	-->
	<select id="check" resultType="cert" parameterType="cert">
		SELECT * FROM CERT WHERE WHO = #{who} AND SECRET = #{secret} AND WHEN BETWEEN SYSDATE - 3/24/60 AND SYSDATE
	</select>
	
	<select id="check2" resultType="cert" parameterType="cert">
		SELECT * FROM CERT WHERE WHO = #{who} AND SECRET = #{secret} AND WHEN BETWEEN SYSDATE - 3/24/60 AND SYSDATE
	</select>
</mapper>
